/* KEYFRAMES */

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
/* GRID STYLING */

img { 
    max-width:100%;
}

.hidden {
    display: none;
}

.messaging { 
    height: 100%;
    width: auto;
}

.inbox_msg {
    display: flex;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    clear: both;
    overflow: hidden;
    height: 100%;
}
 
  
/* .container{max-width:1170px; margin:auto;} */

.left_side {
    background: #f8f8f8 none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 40%; 
    border-right:1px solid #c4c4c4;
}

.right_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    width: 60%; 
}

.users_list { 
    flex: 2;
    margin: 0;
    overflow-y: scroll;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 2;
    margin: 0;
}  


.msg_history {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 2;
    overflow-y: auto;
    margin: 0;
    padding: 15px;
}

.heading_panel { 
    padding: 10px; 
    overflow: hidden; 
    border-bottom: 1px solid #c4c4c4;    
}

.recent_heading {
    width: 100%;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
    text-align: center;
}

.user_item {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 10px;
}

.user { 
    display: flex;
    align-items: center;
    overflow: hidden; 
    clear: both;
}

.user_name {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.user_name h5 { 
    font-size: 15px; 
    color:#464646; 
    margin: 0;
}

.user_image {
    float: left;
    width: 11%;
}

.active_user { 
    background: #a2deee;
}

.incoming_msg {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    width: 100%;
 }

 .outgoing_msg { 
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    width: 100%;
}

.received_msg {
    display: inline-block;
    text-align: start;
    vertical-align: top;
    width: 70%;
}

.sent_msg {
    display: inline-block;
    text-align: end;
    vertical-align: top;
    width: 70%;
}

.msg_text {
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.msg_header {
    color: #747474;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.received_msg .msg_header {
    margin-left: 5px;
}

.received_msg .msg_text {
    background: #ebebeb none repeat scroll 0 0;    
    color: #646464;
    margin: 0;
}

.sent_msg .msg_text {
    background: #a2deee none repeat scroll 0 0;
    font-size: 14px;
    color: #646464;
    margin: 0; 
    /* padding: 5px 10px 5px 12px;
    width:100%; */
}

.sent_msg .msg_header {
    color: coral;
    margin-right: 5px;
}
/* .sent_msg {
    float: right;
    width: 46%;
} */

.input_msg_write input {
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    padding: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}


.form-login {
    position: absolute;
    top:  50%;
    left: 50%;
    width:50%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(11, 11, 11); /* Параметры тени */
    background-color: white;
    transform: translate(-50%,-50%);
    z-index: 999;
  }
  
  .loading-process {
    position: absolute;
    top:  50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #c7f4f8;
    border-top: 3px solid transparent;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: spin .5s linear 0s infinite;
    z-index: 999;
  }
  
  .overlay {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:998;
    background-color: Black;
    opacity: .3;
  }
  

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}